{% extends 'base.html' %}

{% block title %} samdoesarts {% endblock title %}

{% block link %}https://www.instagram.com/samdoesarts/{% endblock link %}

{% block name %}samdoesarts{% endblock name %}

{% block content %}
<p class="text-center fs-5">He specializes in digital paintings, and he gives virtual art lessons via Youtube.
    <br>I love the composition of his pieces and his use of color.
    <br>His characters all kinda look the same but that's okay. We all love a purdy lady anyway.


<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col px-3">
      <div class="card">
        <img src="{{ sam1 }}" class="card-img-top p-3" alt="...">
      </div>
    </div>
    <div class="col px-3">
      <div class="card">
        <img src="{{ sam2 }}" class="card-img-top p-3" alt="...">
      </div>
    </div>
    <div class="col px-3">
      <div class="card">
        <img src="{{ sam3 }}" class="card-img-top p-3" alt="...">
      </div>
    </div>
    <div class="col px-3">
      <div class="card">
        <img src="{{ sam4 }}" class="card-img-top p-3" alt="hey">
      </div>
    </div>
  </div>
{% endblock content %}