{% extends 'base.html' %}

{% block title %} taraminart {% endblock title %}

{% block link %}https://www.instagram.com/taraminart/{% endblock link %}

{% block name %}taraminart{% endblock name %}

{% block content %}
<p class="text-center fs-5">She makes amazing little figurines out of clay.
    <br>I love the simple geometry of her pieces, especially the dotty painting style.


<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col px-3">
      <div class="card">
        <img src="{{ tara1 }}" class="card-img-top p-3" alt="...">
      </div>
    </div>
    <div class="col px-3">
      <div class="card">
        <img src="{{ tara2 }}" class="card-img-top p-3" alt="...">
      </div>
    </div>
    <div class="col px-3">
      <div class="card">
        <img src="{{ tara3 }}" class="card-img-top p-3" alt="...">
      </div>
    </div>
    <div class="col px-3">
      <div class="card">
        <img src="{{ tara4 }}" class="card-img-top p-3" alt="hey">
      </div>
    </div>
  </div>
{% endblock content %}